<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Flowiq Automation Suite" parallel="false" verbose="1">
    <listeners>
        <listener class-name="com.flowiq.listeners.AllureListener"/>
        <listener class-name="com.flowiq.listeners.TestExecutionListener"/>
    </listeners>

    <test name="API Tests">
        <groups>
            <run>
                <include name="api"/>
            </run>
        </groups>
        <packages>
            <package name="com.flowiq.api.*"/>
        </packages>
    </test>

    <test name="UI Tests">
        <groups>
            <run>
                <include name="ui"/>
            </run>
        </groups>
        <packages>
            <package name="com.flowiq.ui.*"/>
        </packages>
    </test>

    <test name="E2E Tests">
        <groups>
            <run>
                <include name="e2e"/>
            </run>
        </groups>
        <packages>
            <package name="com.flowiq.e2e"/>
        </packages>
    </test>
</suite>
